{% set syntax = syntax|default({
    'prefix': false,
    'separator': {
        'prefix': '-',
        'element': '__',
        'modifier': '--',
    },
}) %}

{% set min = min|default(0) %}
{% set max = max|default(100) %}
{% set now = now|default(0) %}
{% set width = (now - min) * 100 / (max - min) %}

{% set blockSelector = syntax.prefix|default(false) ? syntax.prefix ~ syntax.separator.prefix ~ 'progress' : 'progress' %}

{% set modifiersClasses = '' %}
{% for modifier in modifiers|default([]) %}
    {% set modifiersClasses = modifiersClasses ~ ' ' ~ blockSelector ~ syntax.separator.modifier ~ modifier %}
{% endfor %}

{% set attrsGenerated = '' %}
{% for attr_name, attr_value in attrs|default([]) %}
    {% set attrsGenerated = attrsGenerated ~ ' ' ~ attr_name ~ '="' ~ attr_value ~ '"' %}
{% endfor %}

{% set elementSelector = blockSelector ~ syntax.separator.element %}

<div class="{{ blockSelector ~ modifiersClasses }}{{ classes|default(false) ? ' ' ~ classes|join(' ') }}"{{ attrsGenerated|raw }}>
    <div class="{{ elementSelector ~ "bar" }}" style="width: {{ width }}%" role="progressbar" aria-valuenow="{{ now }}" aria-valuemin="{{ min }}" aria-valuemax="{{ max }}">
        {% block label %}{% endblock %}
    </div>
</div>
